.mainPage {
  margin: auto;
  margin-top: 0;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
}
.mainPage p {
  width: 70%;
}

@media (max-width: 650px) {
  .mainPage {
    width: 650px;
  }
}
.mainPage a {
  text-decoration: none;
}
.mainPage a:visited {
  text-decoration: none;
  color: blue;
}
.main_list {
  list-style-image: url("./verification-mark@1X.png");
  line-height: 1.5;
}
