.mainPage {
    width: 80vw;
    background: rgba(255, 255, 255, 0.9) ;
    margin: auto ;
    margin-top: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 90vh;
}
.mainPage ul {
    line-height: 1.5;
}
@media(max-width: 650px){
    .mainPage{
        width: 650px;
}
}
.mainPage a{
    text-decoration: none;
}
.mainPage a:visited{
    text-decoration: none;
    color: blue;
}