.header {
    height: 45px;
    background:#ffffff ;
    font-family: OpenSans-Bold, AdobeInvisFont, Tahoma;
    font-size: 16pt;
    font-weight: regular;
    
}
.header a {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 5px;
    text-decoration: none;
    color: black;
    border-right-style: solid ;
    border-right-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(63, 88, 117, 255);;

}
.header a img {
    color: gray
}
.header a:last-child{
    border-right-style: none;
}
.header a:first-child{
   margin-left: 10vw;
}
@media(max-width: 650px) {
    .header{
        min-width: 650px;
    }
}