.todo_Items {
  text-align: center;
  background-color: #d6e9ed;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16pt;
  height: fit-content;
  min-height: 55px;
}
.todo_Items input {
  text-align: center;
  min-height: 90%;
  font-size: 16pt;
}
.checkbox_item {
  float: left;
}
.todo_Items button {
  border: none;
  margin-right: 20px;
  float: right;
}
.achived {
  text-decoration: line-through;
}
.item_position {
  padding-top: 16px;
}
.todoDivItem {
  padding-left: 20px;
  width: 100%;
}
.button_remove {
  border: none;
  background: none;
}
.alert {
  border: 1px solid red;
}
@media screen and (max-width:650px){
  .todo_Items{
    width: auto;
  }
}