.jsonComponent {
    border: 1px solid black;
    width: 60vw;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    background: #ffffff;
}
button {
    border-radius: 15px;
    user-select: none;
    outline: none;
}
section {
    background: rgba(226,234,237,0.9);
    width: 80vw;
    min-height: 80vh;
    max-height: max-content;
    margin-left: 10vw;
}
.filterButton {
    float: right;
    border: none;
    background:#ffffff; ;

}
.jsonEmail{
    margin: auto;
    padding-left: 20px;
}
.jsonName{
    padding-left: 20px;
    font-size: large;
    margin: auto;
}
.jsonText{
    padding-left: 20px;
}
.jsonTextBody {
    text-indent: 1.5em;
    margin: auto;
}
.jsonButton{
    width: -webkit-fill-available;
    border: none;
    height: 20px;
    font-weight: bold;
}