.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    text-align: center;
    background: #ffffff;
    font-family:Merriweather ;
    font-size: 14pt;
    font-weight: regular;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: inherit;
    color:  rgba(62, 88, 117, 255) ;
}
.footer a {
    text-decoration: none;
    color:  rgba(62, 88, 117, 255);

}
.footer a:visited {
    text-decoration: none;
    color:  rgba(62, 88, 117, 255);

}
.footer_block {
    display: inline-block;
}
.footer_text {
    display: inline-block;
    vertical-align: super;
    font-size: 14pt;
    white-space: nowrap;
    color:  rgba(62, 88, 117, 255) !important;

}