.sideMenu {
  height: max-content;
  margin-top: 30px;
  margin-left: auto;
  width: 15vw;
  min-width: max-content;
  border: none;
}
.sideMenu ul {
  padding-left: 0;
  list-style-type: none;
}
.sideMenu ul li button {
color: rgba(226, 234, 237, 0.0);
background: rgba(226, 234, 237, 0.0) ;
border: 0;
float: right;
}
.sideMenu ul li button:hover{
  color: blue;
  cursor: pointer;

}
.sideMenu ul li button:focus{
  border: none;
  outline: none;
  cursor: pointer;
}
.mobileSideMenu{
  display: none;
  background: #ff6d00;
  border: none;
}
@media (max-width: 900px){
  .sideMenu{
    position: fixed;
    z-index: 2;
    background: #b1d1da;
    display: none;
  }
  .mobileSideMenu{
    display: block;
  }
  .showLinkList{
    display: block;
  }
}