body {
background: url('./background.jpg');
background-size: cover;
background-attachment: fixed;
margin: auto;
font-family: "Open Sans";
font-size: 14pt;
}

section {
    background: rgba(255, 255, 255, 0.9) ;
    width: 80vw;
    margin: auto;

    min-height: 100vh;
    max-height: max-content;
    margin-bottom: 20px;
}
@media (max-width: 900px) {
    section {
        min-width: 95vw;
        margin:auto;
    }
  }
  @media(max-width: 650px) {
      section{
          min-width: 650px;
      }
  }
  h1{
      font-family: Merriweather;
      font-size: 16pt;
      font-weight: bold;
    color: #3352a1;
  }
  h3{
      font-family: Merriweather;
      font-size: 15pt;
      font-weight: bold;
  }